#mainNav .navbar-brand {
    color: #054B7A;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    /* border-bottom: 2px solid white; */
}

body {
    background-color: #ffD700 !important;
    font-family: 'Montserrat';
    background-image: url('../img/background.png');
    background-attachment: fixed;
    background-size: cover;
}

.bg-content {
    background-color: white !important;
    padding: 20px;
    padding-top: 40px;
    min-height: 300px;
}

#mainNav .navbar-nav>li>a.active {
    color: black !important;
    font-weight: bold;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav .navbar-nav>li>a,
    #mainNav .navbar-nav>li>a:focus {
        color: #054B7A;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

@media (min-width: 992px) {
    .space_top {
        min-height: 165px;
    }
    #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: white;
    }
    .container-main {
        min-height: 635px;
    }
    .loader {
        border: 12px solid #ffffffc4;
        border-top: 12px solid #054B7A;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 35%;
        left: 50%;
    }
    .brand-logo {
        vertical-align: middle;
        border-style: none;
        width: 125px;
    }
    .custom-header {
        background-color: #054B7A;
        color: white;
        position: absolute;
        padding: 10px;
        padding-right: 20px;
        min-width: 100px;
        border-radius: 0px 0px 20px;
        left: -20px;
    }
}

@media (min-width: 992px) {
    #mainNav.navbar-shrink .navbar-brand {
        color: #054B7A;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        height: 50px;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        border-bottom: 2px solid white;
    }
}

/* .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 100px;
} */

@media (max-width: 991px) {
    .space_top {
        min-height: 65px;
    }
    .container-main {
        min-height: 500px;
    }
    .loader {
        border: 12px solid #ffffffc4;
        border-top: 12px solid #054B7A;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 35%;
        left: 40%;
    }
    .brand-logo {
        vertical-align: middle;
        border-style: none;
        width: 95px;
    }
    .custom-header {
        background-color: #054B7A;
        color: white;
        position: absolute;
        padding: 10px;
        min-width: 100px;
        border-radius: 0px 0px 20px;
        left: 0;
    }
    #mainNav {
        border-color: white;
        background-color: #ffd700;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;
        font-family: Catamaran, Helvetica, Arial, sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
    }
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: .25rem;
}

footer {
    background-color: #054B7A;
    min-height: 120px;
}

.primary {
    background-color: #054B7A;
    color: white;
}

.card.card-primary>.card-header {
    background-color: #054B7A;
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #054B7A;
    border-color: #054B7A;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content {
    display: none;
}

.custom-header {
    background-color: #054B7A;
    color: white;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 40px;
}

.btn-login {
    min-width: 285px;
    border-radius: 5px;
}

.fb-login-button {
    min-width: 285px;
    border-radius: 15px;
}

.form-control-login {
    display: block;
    min-width: 285px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid #054B7A;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.close-login.text-right {
    position: absolute;
    top: 10px;
    right: 15px;
}

.text-xs {
    font-size: 12px !important;
}