 .btn-search {
     color: #fff;
     background-color: #ffda00;
     border-color: #ffda00;
     padding: 6px 40px;
 }

 .navbar-fixed-top {
     background: #ffffff61;
     height: 60px;
 }

 .home-company-logo-row {
     padding-bottom: 10px;
     margin-left: -10px;
     margin-right: -10px;
     box-sizing: border-box;
     text-align: center;
 }

 .home-company-logo {
     -webkit-transition: 0.7s;
     transition: 0.7s;
     -webkit-filter: grayscale(1);
     filter: grayscale(1);
     display: block;
     height: 70px;
     background-color: transparent;
     margin-bottom: 20px;
     opacity: 0.7;
     position: relative;
     width: 100%;
 }

 .home-company-logo:hover {
     filter: none;
     opacity: 1;
 }

 .home-company-logo img {
     width: 70%;
     border: 0;
     vertical-align: middle;
 }

 .center-block {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .img-responsive {
     display: block;
     width: 100%;
     max-width: 100%;
     height: auto;
 }

 .text-heavy {
     font-weight: bold !important;
     color: #000000;
     margin-bottom: 10px;
 }

 .home-section-header {
     margin-bottom: 50px;
 }

 .home-section {
     padding: 70px 30px;
 }

 .paragraf {
     margin: 0 0 12px;
     word-break: break-word;
     margin-bottom: 20px;
     font-size: 2.3rem;
     line-height: 24px;
 }

 .home-mobile-section-header {
     margin-bottom: 10px;
     font-size: 2rem;
     line-height: 24px;
 }

 .home-mobile-section-body {
     margin-bottom: 20px;
     font-size: 1.25rem;
     line-height: 24px;
 }

 .home-mobile-section-text {
     padding-top: 56px;
     text-align: left;
 }

 .home-mobile-section {
     padding-bottom: 0;
 }

 .home-mobile-section-button {
     margin: 16px 0px 14px -10px;
     display: -webkit-inline-box;
     display: -ms-inline-flexbox;
     display: inline-flex;
     max-width: 135px;
     max-height: 40px;
     width: 100%;
     height: 100%;
 }

 .home-mobile-section-logo {
     margin: 32px 0px 32px 16px;
     max-width: 480px;
     max-height: 362px;
     width: auto;
     height: auto;
 }

 @media (min-width: 769px) {
     .home-featured-job,
     .featured-job {
         width: 270px;
         display: inline-block;
         vertical-align: top;
     }
 }

 .home-featured-job,
 .featured-job {
     margin: 0 0 20px;
     min-width: 270px;
 }

 .jb-featured-strict-height-old {
     height: 266px;
 }

 .kb-featured-job,
 .kb-featured-job:hover,
 .kb-featured-job:focus,
 .kb-featured-job:active {
     text-decoration: none;
     display: block;
 }

 .panel-shadowed {
     box-shadow: 0 1px 3px #ccc;
 }

 .text-small {
     font-size: .875rem;
 }

 .no-margin {
     margin: 0 !important;
 }

 .panel {
     margin-bottom: 24px;
     background-color: #fff;
     border: 1px solid transparent;
     border-radius: 4px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
     border: 0;
     box-shadow: none;
     position: relative;
 }

 .jb-featured-img-wrapper-old {
     max-height: 90px;
     overflow: hidden;
 }

 .jb-featured-img-old {
     height: auto;
     width: 100%;
     border-radius: 4px 4px 0 0;
 }

 .jb-featured-label-old {
     margin: -20px 10px 0 10px;
     background: #f9c235;
     border-radius: 4px;
     width: calc(100% - 20px);
     color: #fff;
     padding: 7px;
     z-index: 1;
     position: relative;
 }

 .uppercase {
     text-transform: uppercase;
 }

 .text-small {
     font-size: 1.5rem;
 }

 .home-section:nth-child(2n+1) {
     background: #fff;
 }

 .home-section {
     padding: 70px 30px;
 }

 .truncate-text {
     display: block;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     color: #397ab7;
 }

 .jb-featured-details-old {
     padding: 10px 20px 20px 20px;
 }

 .container-staffpicks {
     width: 80%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }

 .home-section-last {
     background: #ffda00;
     color: #fff;
     padding: 70px 30px;
 }

 .h3-text {
     font-size: 25.008px;
     font-family: inherit;
     font-weight: normal;
     line-height: 1.5;
     color: black;
 }

 .btn-lg {
     padding: 10px 16px;
     font-size: 16px;
     line-height: 1.33;
     border-radius: 4px;
 }

 .btn-default,
 .btn-secondary {
     color: #333;
     background-color: #fff;
     border-color: #CDD2D5;
 }

 .navbar-footer {
     background: #054B7A;
     border-radius: 0;
     margin: 0;
     color: #efefef;
     padding: 30px 0px 0 0px;
     font-weight: 500;
     height: auto;
 }

 .navbar {
     position: relative;
     min-height: 60px;
     border: 1px solid transparent;
     border-radius: 0px;
 }

 .footer-brand-small {
     padding-left: 25px;
 }

 .navbar-footer-logo {
     margin: 0;
 }

 .footer-body {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
 }

 @media (min-width: 769px) {
     .footer-brand-group {
         text-align: left;
         padding: 0 20px 0 0;
     }
 }

 .footer-brand-group {
     -ms-flex-preferred-size: 0;
     flex-basis: 0;
     -webkit-box-flex: 2;
     -ms-flex-positive: 2;
     flex-grow: 2;
     padding: 20px 10px;
 }

 .logo-4Hire-white {
     background: none center / contain no-repeat;
     /*background-image: url();*/
     width: 50px;
     height: 20px;
 }

 .footer-navs {
     margin: 0 0 10px;
     -ms-flex-preferred-size: 0;
     flex-basis: 0;
     -webkit-box-flex: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
 }

 .home-section-line-break {
     margin: auto;
     height: 1px;
     width: 100%;
     opacity: 0.2;
     background-color: #ffffff;
 }

 .footer-mobile-buttons {
     display: -webkit-box;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
 }

 .home-mobile-section-button-footer {
     margin: 16px 22px 14px 0px;
     max-width: 135px;
     max-height: 40px;
 }

 .footer-ssn-icon-group {
     margin: 20px 0px 16px 70px;
 }

 .footer-ssn-icon-group-small {
     margin: 10px 0px 0px 5px;
 }

 .footer-brand-small {
     padding-left: 25px;
 }

 .footer-footer {
     padding: 16px 0 10px;
 }

 .navbar-footer .navbar-footer-nav a {
     color: white;
     text-decoration: none;
 }

 .footer-tag {
     color: white;
     text-decoration: none;
 }

 .footer-header {
     color: #5D7D89;
     font-weight: bold;
 }

 .footer-footer-text {
     color: #ffffff;
 }

 .text-black-medium {
     font-size: 19px;
     color: #3e3d37;
     margin-bottom: 15px;
 }

 .panel-shadowed {
     box-shadow: 0 1px 3px #ccc;
 }

 .span-text {
     color: #4582bb;
 }

 .logo-4Hire-descript {
     background: none center / contain no-repeat;
     width: 80px;
     /*height: 20px;*/
     margin: 0;
     margin-bottom: 15px;
 }

 .text-description {
     font-size: 17px;
     font-weight: 400;
     color: #000000;
     margin-bottom: 15px;
 }

 .background-description {
     background: #ffda00;
     padding: 135px 30px;
     width: 100%;
     height: auto;
 }

 .home-mobile-downloadapp {
     padding: 70px 30px;
     background: #f9f9f9 !important;
 }

 .logo-personal-assessment {
     width: 230px;
     height: 125px;
 }

 .logo-online-interview {
     width: 150px;
     height: 125px
 }

 .logo-profile-intelligence {
     width: 250px;
     height: 125px;
 }

 .text-heavy-main-feature {
     font-weight: bold !important;
     color: #000000;
     margin-bottom: 50px;
 }

 .main-feature {
     margin-bottom: 20px;
 }

 .text-main-feature {
     color: #000000;
     text-align: justify;
 }

 .feature {
   margin-left: 20px;
   margin-right: 20px;
 }

 .footer-ssn-icon{
   margin: 0 20px 0 0;
 }

 .text-inverted {
    color: #fff !important;
 }

/*start css content selain landing page */
/*
  .primary-section .title {
      border-bottom: 1px solid #000000;
 }
 .section .title {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.primary-section h1 {
    color: #000000;
}

.section .title h1 {
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}

.primary-section, .primary-section .title p, .primary-section h3 {
    color: #FECE1A;
}

.section .title > p {
    font-size: 20px;
    color: #ffda00;
    font-weight: lighter;
}

.team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.thumbnail {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    background: #191a1c;
}

.thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 1200px) {
  .row-fluid {
      width: 100%;
  }
}

.row-fluid {
    width: 100%;
}

@media (min-width: 1200px) {
  .row-fluid [class*="span"]:first-child {
      margin-left: 0;
  }
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
@media (min-width: 1200px){
  .row-fluid .span4 {
      width: 31.623931623931625%;
  }
}

@media (min-width: 1200px){
  .row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 30px;
      margin-left: 2.564102564102564%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
}

.row-fluid .span4 {
    width: 31.914893617021278%;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pulse {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}

@media (min-width: 1200px) {
  .span4 {
      width: 370px;
  }
}
@media (min-width: 1200px){
  [class*="span"] {
      float: left;
      min-height: 1px;
      margin-left: 30px;
  }
}

.span4 {
    width: 300px;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}*/
/*end css content selain landing page */
